<div class="card" style="margin-top: 50px;">
  <div class="card-body">
    <h5 class="card-title">BitCoin</h5>
    <div id="charts"></div>
  </div>
</div>
<script>
    console.log(<%= @currencies %>);
    Highcharts.stockChart('charts', {
        rangeSelector: {
            selected: 2
        },


        title: {
            text: 'Bit Coin Exchange rate'
        },

        tooltip: {
            style: {
                width: '200px'
            },
            valueDecimals: 2,
            shared: true,
            valuePrefix: '$',
            valueSuffix: ' USD'
        },
        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },

        series: [{
            type: 'ohlc',
            name: 'BitCoin Exchange rate',
            data: <%= @currencies %>,
            dataGrouping: {
                units: [[
                    'week', // unit name
                    [1] // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]]
            }
        }]
    });
</script>